@page "/"
@using PizzaPlace.Shared
@using Microsoft.AspNetCore.Components
@inject IMenuService  menuService
@inject IOrderService orderService
@inject State State
@inject NavigationManager nav

<PizzaList Title="Our selected list of pizzas"
           Menu="@State.Menu"
           Selected="@((pizza) => AddToBasket(pizza))"
           ShowPizzaInformation="@((pizza) => ShowPizzaInformation(pizza))" />

<ShoppingBasket Title="Your current order"
                Basket="@State.Basket"
                GetPizzaFromId="@State.Menu.GetPizza"
                Selected="@(pos => RemoveFromBasket(pos))" />

<CustomerEntry Title="Please enter your details below"
               Customer="@State.Basket.Customer"
               Submit="@(async (_) => await PlaceOrder())" />

<button @onclick="ToTest">To Test</button>

@code{
    public void AddToBasket(Pizza pizza)
    {
        Console.WriteLine($"Added pizza {pizza.Name}");
        State.Basket.Add(pizza.Id);
        //StateHasChanged();
    }

    private void RemoveFromBasket(int pos)
    {
        Console.WriteLine($"Removing pizza at pos {pos}");
        State.Basket.RemoveAt(pos);
        //StateHasChanged();
    }

    private async Task PlaceOrder()
    {
        await orderService.PlaceOrder(State.Basket);
    }

    protected override async Task OnInitializedAsync()
    {
        State.Menu = await menuService.GetMenu();
    }

    private void ShowPizzaInformation(Pizza pizza)
    {
        State.CurrentPizza = pizza;
        Console.WriteLine($"Id: {State.CurrentPizza.Id}\n" +
            $"Name: {State.CurrentPizza.Name}\n" +
            $"Price: {State.CurrentPizza.Price}\n" +
            $"Spiciness: {State.CurrentPizza.Spiciness}");
        nav.NavigateTo("/PizzaInfo");
    }

    private void ToTest()
    {
        Console.WriteLine("Executing To Test");
        nav.NavigateTo("/Test");
    }


}